.add-item-card.ant-card .ant-card-body {
  padding: 0;
}
.add-item-card.ant-card .ant-card-head {
  border-bottom: 1px solid #f0f0f0 !important;
}

.select-item-type {
  width: 165px;
  height: 100px;
  border: 0 solid #ccc;
  text-align: center;
  background-color: #fff;
  margin-top: 1px;
}
.select-item-type:hover {
  color: #fff;
  background-color: #33b4a7;
  cursor: pointer;
}
.select-item-type span {
  position: absolute;
  bottom: 10px;
  margin: auto;
  left: 0;
  right: 0;
}
.select-item-type .item-type-icon {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 10px;
  margin: auto;
  left: 0;
  right: 0;
}
.select-item-type .item-type-icon .anticon {
  height: 1em;
}

.btn-wrapper .btn-secondary {
  background-color: #eeeeee;
  color: #a2a2a2 !important;
}
.add-new {
  margin: 17px 16px 17px 16px;
}
.add-new button {
  background-color: #33b4a7;

  padding: 0 10px 0 10px;
}
.add-new button:hover,
.add-new button:focus {
  background-color: #2b9f94 !important;
}
.ant-dropdown {
  z-index: 12000;
}
