#nav-bar.light {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.88);
}
#nav-bar.dark {
    background-color: #1c1c1c;
    color: rgba(255, 255, 255, 0.75);
}
#nav-bar {
    position: absolute;
    top: 0;
    z-index: 10000;
    width: 100%;
}
.content-wrapper{
    margin-top: 40px;
}
#nav-bar .logo h2 {
   /*color: #4c5eff;*/
    color: #33b4a7;
}
#nav-bar .logo h2:hover {
    /*color: #3f4ed4 !important;*/
    color: #2b9f94 !important;
}
#nav-bar .logo {
    cursor: pointer;
}
#nav-bar .logo:hover {
    /*color: #3f4ed4 !important;*/
    opacity: .8;
}
#nav-bar .ant-btn.btn-primary {
    background-color: #33b4a7;
    color: #FFF !important;
}
#nav-bar.dark .ant-btn.btn-primary {
    background-color: #33b4a7;
    color: #1C1C1C !important;
}
#nav-bar .ant-btn.add-new{
    margin-left: 0;
    margin-right: 0;
}
#nav-bar .ant-btn.btn-primary:hover {
    background-color: #2b9f94 !important;
}
.btn-right {
    float: right;
    width: 120px;
    margin: 20px 16px;
}